@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

/*
body, html{
   height:0%; 
}

#clock{
    background-color: blueviolet;
    font-size:75px;
    position: relative;
    top:50%;
    margin-top:35%; 
    font-family: 'Bungee Shade', cursive;
    color:white;
    text-align: center;
    
}*/
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Lato", sans-serif;
}

#clock {
	height: 100vh;
	width: 100%;
/*	background-color: #14080e;*/
	color: #e9eb9e;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 50px;
        font-family: 'Bungee Shade', cursive;

}
