*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #595b83;
    font-family: 'Playfair Display', serif;
}
.navbar{
/*
    padding-top: 25px;
    padding-bottom: -25px;
*/
}
#top{
    background-color: #f4abc4;
    color: #333456;
/*    color:white*/

}
div,.btnn{
    margin-bottom: 25px;

}
.btnn{
    padding:13px;
    margin: 0 20px;

}
#userInput{
    width: 350px ;
    height:50px;
    display: inline-block;
    
    
}
.left{
    float: right;
    margin-right: 50px;
    padding:0 15px;
}
.purple{
/*    background-color: #333456;*/
}
ul>li{
    display: block;
    margin-bottom: 20px;
    font-family: 'Lobster', cursive;
}